<div class="article">
  <h2><%= @article.name %></h2>
  <div>
    <%= @article.body_html %>
  </div>

  <small>
    <a href="/articles/<%= @article.to_param %>/edit">Click here to edit</a>
  </small>
  
  <div class="comments">
    <h3>Comments</h3>
    
    <% @article.comments.each do |comment| %>
      <div class="comment">
        <%= comment.body %>
      </div>
    <% end %>
    
    <form action="/articles/<%= @article.to_param %>/comments" method="post">
      <h4>Add one.</h4>
      <span>Body</span>
      <textarea name="comment[body]"></textarea>
      <p><input type="submit" value="Add this comment."></p>
    </form>
  </div>
</div>

<a href="/articles">Back to articles</a>