<div class="article">
  <h2><%= @article.name %></h2>
  <div>
    <%= @article.body_html %>
  </div>

  <small>
    <form action="/articles/<%= @article.to_param %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <a href="/articles/<%= @article.to_param %>/edit">Click here to edit</a> | 
      <input type="submit" value="Delete!">
    </form>
  </small>
</div>
<div class="comments">
  <h3>Comments</h3>
  
  <% if @article.comments.empty? %>
  <p>Nobody has left a comment yet.</p>
  <% end %>
  
  <% @article.comments.each do |comment| %>
    <div class="comment">
      <%= comment.body %>
    </div>
  <% end %>
  
  <form action="/articles/<%= @article.to_param %>/comments" method="post">
    <label>
      <span>Add a comment:</span>
      <textarea name="comment[body]"></textarea>
    </label>
    <p><input type="submit" value="Add this comment."></p>
  </form>
</div>


<a href="/articles">Back to articles</a>